.container-fluid{
	overflow: hidden;
}
#header{
	height:90px;
	line-height: 90px;
}
#header h1{
	padding:0;
	padding-left:25px;
}
#title{
	color:#717070;
}
#title:hover{
	text-decoration: none;
}
#content{
	padding-top:2em;
	min-height:80vh;
}
.results a{
	color:black;
}
.results a:hover{
	text-decoration: none;
}

/* Classes diverses */
.force-to-bottom {
  position: absolute;
  bottom: 0;
  width: inherit;
}

/* Telephone */
@media screen and (max-width: 767px) {
	#content .btn{font-size: 5em;}
}
/* Tablettes */
@media (min-width: 768px) and (max-width: 991px) {
	#content .btn{font-size: 2em;}
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
	#content .btn{font-size: 1.5em;}
}
